# ==============================================================================
# SENEGAL TOP TOUR — Variables d'environnement Backend
# ==============================================================================

PORT=5000
NODE_ENV=development

# URL de la base de données
DATABASE_URL="mysql://root:2004@localhost:3308/senegal_top_tour"

# Sécurité JWT
JWT_SECRET="senegal_top_tour_super_secret_jwt_key_2026_luxury"

# Admin par défaut
ADMIN_DEFAULT_EMAIL="admin@senegaltoptour.com"
ADMIN_DEFAULT_PASSWORD="2004"

# Coordonnées
WHATSAPP_PHONE="+221778848029"
CORS_ORIGIN="http://localhost:5173"
